<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="preProcessorToLower" class="edu.school21.spring.preprocessor.PreProcessorToLowerImpl"/>
    <bean id="preProcessorToUpper" class="edu.school21.spring.preprocessor.PreProcessorToUpperImpl"/>

    <bean id="rendererErr" class="edu.school21.spring.renderer.RendererErrImpl">
        <constructor-arg name="processor" ref="preProcessorToLower"/>
    </bean>
    <bean id="rendererStd" class="edu.school21.spring.renderer.RendererStandardImpl">
        <constructor-arg name="processor" ref="preProcessorToUpper"/>
    </bean>

    <bean id="printerWithDate" class="edu.school21.spring.printer.PrinterWithDateTimeImpl">
        <constructor-arg name="renderer" ref="rendererErr"/>
    </bean>
    <bean id="printerWithPrefix" class="edu.school21.spring.printer.PrinterWithPrefixImpl">
        <constructor-arg name="renderer" ref="rendererStd"/>
    </bean>

</beans>